.App {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'ars-maquette-web',sans-serif;
  text-rendering: optimizeLegibility;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player {
  display: flex;
  flex-direction: column;
  border-radius: 10px; 
  overflow: hidden; 
  width: 50%;
  max-height: 100%;
}

.controls {
  visibility: hidden;
  opacity: 0.5;
  width: 50%;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 50px;
  margin-left: -200px;
  background-color: "#000";
  box-shadow: 3px 3px 5px "#000";
  transition: 1s all;
  display: flex;
}

.player:hover .controls, .player:focus .controls {
  opacity: 1;
}

@font-face {
  font-family: 'HeydingsControlsRegular';
  src: url('assets/fonts/heydings_controls-webfont.eot');
  src: url('assets/fonts/heydings_controls-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/heydings_controls-webfont.woff') format('woff'),
       url('assets/fonts/heydings_controls-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button:before {
  font-family: HeydingsControlsRegular;
  font-size: 20px;
  position: relative;
  content: attr(data-icon);
  color: "#fff";
  text-shadow: 1px 1px 0px "#fff";
}


