body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .react-player {
  border-radius: 10px;
  overflow: hidden;
} */

img {
  height: 34%;
  width: 34%;
  position: relative;
}

.link {
  border-radius: 5%;
}

.link:hover {
  opacity: 0.8;
}

.link_duration {
  position: absolute;
  background-color: black;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  
}